body { 
  margin:0; /* fond d'écran */
  padding:0;
  background: url(image/fond/ciel.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

/*Transformations images*/
.imageflottante:hover {
	-moz-transform:scale(1.2,1.2);
	-webkit-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}
img:hover {
	-moz-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	transform:rotate(10deg);
}

/*Images des batiments + points d'exclamation associés*/
#cafe
{
    position: fixed;
	top : 150px;
	left : 200px;
	max-width: 250px;
	height: auto;
}
#ex_cafe{
	position: fixed;
	top : 150px;
	left : 200px;
}


#jeux
{
    position: fixed;
	top : 150px;
	left : 1100px;
	max-width: 250px;
	height: auto;
}
#ex_jeux{
	position: fixed;
	top : 150px;
	left : 1100px;
}


#hopital
{
    position: fixed;
	top : 300px;
	left : 650px;
	max-width: 250px;
	height: auto;
}
#ex_hopital{
	position: fixed;
	top : 300px;
	left : 650px;
}


#bib
{
    position: fixed;
	top : 525px;
	left : 1150px;
	max-width: 150px;
	height: auto;
}
#ex_bib{
	position: fixed;
	top : 525px;
	left : 1150px;
}


#ecole
{
    position: fixed;
	top : 575px;
	left : 225px;
	max-width: 150px;
	height: auto;
}
#ex_ecole{
	position: fixed;
	top : 575px;
	left : 225px;
}

/*Personnage et ses différentes positions, d'entrée et de sortie des batiments*/
/*!!!!! La position de sortie doit être différente de celle d'entrée pour que l'animation puis le changement de page aie lieu*/
/*personnage et perso_image sont différenciés pour leur affecter des animations différentes*/
/*personnage gère la trajectoire, dest la destination, perso_image l'animation du sprite*/
#perso_image{
	width: 32px;
	height: 29px;
	display: inline-block;
	background: url("image/sprites/personnage.png") no-repeat;
	transform: scale(2,2);
}

#personnage
{
	width: 32px;
	height: 29px;
	display: inline-block;
	position: absolute;
	z-index: 100;
	left: 51%;
	top: 41%;
	
	transition: 5s;
	-moz-transition: 5s;
	transition-timing-function: linear;
	-moz-transition-timing-function: linear;
}

#dest{
	width: 1px;
	height: 1px;
	display: inline-block;
	position: absolute;
}

#personnage.hopital, #dest.hopital{
	top: 550px;
	left: 800px;	
}
#personnage.hopital_sortie{
	top: 570px;
	left: 800px;
}

#personnage.cafe, #dest.cafe{
	top: 400px;
	left: 380px;	
}
#personnage.cafe_sortie{
	top: 425px;
	left: 400px;
}

#personnage.jeux, #dest.jeux{
	top: 300px;
	left: 1150px;	
}
#personnage.jeux_sortie{
	top: 350px;
	left: 1150px;
}

#personnage.bib, #dest.bib{
	top: 700px;
	left: 1200px;	
}
#personnage.bib_sortie{
	top: 700px;
	left: 1150px;
}

#personnage.ecole, #dest.ecole{
	top: 700px;
	left: 425px;
	
}
#personnage.ecole_sortie{
	top: 675px;
	left: 500px;
}


/*Autres animations*/
#oiseaux{
	transition: 10s;
	-moz-transition: 10s;
	transition-timing-function: linear;
	-moz-transition-timing-function: linear;
}
#helico{
	transition: 10s;
	-moz-transition: 10s;
	transition-timing-function: linear;
	-moz-transition-timing-function: linear;
}
#dauphin{
	transition: 10s;
	-moz-transition: 10s;
	transition-timing-function: linear;
	-moz-transition-timing-function: linear;
}





/*HEADER*/
.page-header {
	margin: 0px 0;
    padding-bottom: 0px;
	height: 5rem;
}
.avatar
{
    position: absolute;
	top : 10px;
	left : 15px;
	max-width: 90px;
	height: auto;
}

.parametre
{
    position: absolute;
	top : 10px;
	right : 130px;
	max-width: 90px;
	height: auto;
}

.compte
{
    position: absolute;
	top : 10px;
	right : 10px;
	max-width: 90px;
	height: auto;
}


/*FOOTER*/
.image1
{
    position: absolute;
	bottom : 10px;
	left : 10px;
	max-width: 60px;
	height: auto;
}